POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=db
POSTGRES_PORT=5432

MAIL_USERNAME=fl@gmail.com
MAIL_PASSWORD=password
MAIL_PORT=321
MAIL_SERVER=smtp
MAIL_STARTTLS=true
MAIL_SSL_TLS=true
MAIL_FROM=fsdkjh@ail.ru